@import './../scss/variables.scss';

.flex-row {
    @include flexRow();
    align-items: center;
}

.delete-note {
    display: inline-block;
    width: 100%;
    height: 500px;
    margin-top: 40px;
}
svg{
    height: 50px;
    margin-left: 5px;
}
.add-btn {
    border-radius: 200px;
    height: 70px;
    width: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 50px;
    background-color:  $secondary-color;
}

.text-note {
    font-family: $font;
    font-size: 18px;
    color: #232323;
    font-weight: 500px;
    margin: 0;
    padding: 0;
    text-align: left;
}

